@import "../../styles/mixins";

.events {
    @include flex-column;
    gap: 0;
    grid-area: events;
    border: var(--border-light);
    border-radius: 0.2em;
    overflow: hidden;

    &__date {
        @include flex-container;
        font-size: 1.5em;
        padding: 0.5em;
        background-color: var(--color-bg-seondary);
        border-bottom: var(--border-light);
    }
}


.list {


    overflow-y: scroll;
    flex: 1;

    &__button {
        padding: 1em;
        border: var(--color-highlight-primary);
        background-color: var(--color-highlight-primary);
        color: #fff;
    }

    &--empty {
        @include flex-column;
        justify-content: center;
        gap: 1em;
        overflow: hidden;
        align-items: center;
        color: var(--color-light-secondary);
    }

    &__info {
        @include flex-container;
        gap: 1em;
        font-size: 1.2em;
    }

    &__instruction {
        font-size: 0.85em;
    }
}