@mixin fill {
    height: 100%;
    width: 100%;
}

@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@mixin container-card {
    background-color: rgba($color: #fff, $alpha: 1);
    border-radius: 0.3em;
    border: var(--border-light);
    padding: 0.5em 1em;
}

@mixin item-card {
    background-color: rgba($color: #fff, $alpha: 1);
    border-radius: 0.3em;
    border: var(--border-light);
    padding: 0.5em;
}