@import url('https://fonts.googleapis.com/css2?family=Kenia&family=La+Belle+Aurore&family=Lobster&family=Roboto:wght@400;700&family=Zen+Dots&display=swap');

.app {
    min-height: 100vh;
    background-color: var(--color-bg-primary);

    display: grid;
    grid-template-areas:
        "heading heading"
        "calendar events";
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1.5fr 8.5fr;
    gap: 1em;

    padding: 10em 30em;

    &__heading {
        font-size: 2em;
        font-family: 'La Belle Aurore';
        grid-area: heading;
        justify-self: center;
        align-self: center;
    }
}