@import "../../styles/mixins";

.calendar {
    @include flex-column;
    grid-area: calendar;
    overflow: hidden;

    &__month {
        @include flex-container;
        border-top-left-radius: 0.2em;
        border-top-right-radius: 0.2em;
        border-top: var(--border-light);
        border-left: var(--border-light);
        border-right: var(--border-light);
        background-color: var(--color-bg-seondary);
        font-size: 1.5em;
        padding: 0.5em;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    &__heading,
    &__cell {
        text-align: left;
        border: var(--border-light);
    }

    &__heading {
        padding: 0.5em;
    }

    &__cell {
        position: relative;
        height: 3em;

        &:hover {
            cursor: pointer;
        }

        &--selected {
            background-color: var(--color-highlight-primary);
            color: #fff;
        }
    }

    &__day {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
        font-size: 0.9em;
    }
}