@import "/src/styles/mixins";

.calendar {
    @include flex-column;
    grid-area: calendar;
    overflow: hidden;
}

.nav {
    @include flex-container;
    font-family: 'Signika Negative';
    justify-content: space-between;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-top: var(--border-light);
    border-left: var(--border-light);
    border-right: var(--border-light);
    background-color: var(--color-bg-seondary);
    font-size: 1.5em;
    padding: 0.5em;

    &__icon {
        @include flex-container;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    &__heading,
    &__cell {
        text-align: left;
        border: var(--border-light);
    }

    &__heading {
        padding: 0.5em;
    }

    &__cell {
        position: relative;
        height: 3em;

        &:hover {
            cursor: pointer;
            background-color: var(--color-highlight-primary-hover);
            color: #fff;
        }

        &--selected {
            background-color: var(--color-highlight-primary);
            color: #fff;
        }

        &--empty,
        &--selected {
            &:hover {
                cursor: default;
            }
        }

        &--selected {
            &:hover {
                background-color: var(--color-highlight-primary);
            }
        }

        &--empty {
            &:hover {
                background-color: var(--color-bg-primary);
            }
        }
    }

    &__day {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
        font-size: 0.9em;
    }
}